:root {
  --color-bg:  #c3d7f7;
  /* Couleur de fond */
  --color-primary: #1a5e7c; 
  /* Couleur primaire, (bouton) */
  --color-secondary: #363434;
  /* Couleur secondaire (bouton,bordure,frise,...)*/
  --color-bg2:rgba(1, 1, 1, 0.749);
  /*Couleur de fond transparente*/
  --color-bg3:rgb(232, 241, 241);
  /*Couleur de fond  blanche*/
}

body {
  background-color: var(--color-bg);
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*-----BARRE DE NAVIGATION-----*/
header {
  background-color: var(--color-secondary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header img{
  width: 150px;
  height: 80px;
  margin: 10px;
}

nav {
  display: flex;
  padding: 40px;
}

/*-----MENU DEROULANT-----*/
.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown a {
  color: var(--color-bg);
  text-decoration: none;
  font-size: larger;
  padding: 30px;
}

.dropdown a:hover,.btn-secondary a:hover {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-secondary);
  min-width: 200px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 20px 30px;
  color: var(--color-bg);
  text-decoration: none;
}

/*-----ANIMATION FLECHE DU MENU-----*/
.dropdown .icon-arrow-down {
  display: inline-block;
  transition: transform 0.3s ease;
}

.dropdown:hover .icon-arrow-down, .dropdown a.active .icon-arrow-down {
  transform: rotate(180deg);
}

/*-----CONTENU COMMUN-----*/
main {
  flex-wrap: wrap;
  margin: 0px 100px 30px 100px;
}

h1 {
  font-size: xx-large;
  margin-bottom: 5px;
  margin-top: 40px;
}

h2 {
  font-size: x-large;
  margin-top:50px;
  margin-bottom: 5px;
}

h3{
  font-size: large;
  margin-top: 0px;
  margin-bottom: 5px;
}

p {
  font-size: x-large;
  margin: 5px 0px 5px 0px;
}

a {
  text-decoration: none;
}

em {
  font-size: x-large;
}

hr {
  background-color: var(--color-secondary);
  height: 1px;
}

li {
  list-style-type: none;
  font-size: large;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img{
  padding-left: 35px;
  width: 150px;
  height: 100px;
}

footer{
  display: flex;
  justify-content: space-around;
}

/*-----BOUTON-----*/

/*Style 1*/
.btn-primary { 
  font-size: large;
  padding: 10px;
  box-shadow: 5px 5px 7px black;
  border-radius: 8px;
  border: none;
  background-color: var(--color-primary);
  color: white;
  transition: transform 0.2s;
}

.btn-primary a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

.btn-primary a:hover,.btn-primary:hover{
  transform: scale(1.2);
}

/*Style 2*/
.btn-secondary { 
  font-size: large;
  border-radius: 8px;
  padding: 3px;
  border: none;
  box-shadow: 5px 5px 10px black;
  color: var(--color-bg);
  background-color: var(--color-secondary);
}

.btn-secondary a{
  color: var(--color-bg);
  text-decoration: none;
  padding: 10px;
}

/*-----PAGE ACCUEUIL-----*/
.accueil h2~h2{
  margin-top: 15px;
}

.accueil .btn-secondary{
  margin-left: 750px;
}
.accueil .btn-primary{
  margin-left: 200px;
  margin-top: 10px;
}

.accueil{
  display: flex;
}

.accueil aside{
  display: flex;
  flex-direction: column;
  margin-left:35px;
  margin-right: 0px;
  margin-top: 50px;
}

.anim{
  animation: blink 6s infinite;
  height: auto;
  width: 70px;
  margin-bottom: 60px;
}

.anim2{
  animation: blink 5s infinite;
  margin-top: 80px;
  height: auto;
  width: 70px;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.anim:nth-child(1) { animation-delay: 0s; }
.anim:nth-child(2) { animation-delay: 2s; }
.anim:nth-child(3) { animation-delay: 3s; }

.anim2:nth-child(1) { animation-delay: 0s; }
.anim2:nth-child(2) { animation-delay: 1.5s; }
.anim2:nth-child(3) { animation-delay: 2.5s; }

  
/*-----PAGE HISTOIRE-----*/

.frise{
  display: flex;
  align-items: center;
}

.frise hr {
  flex: 1;
  height: 15px;
  background-color: var(--color-secondary);
  border-radius: 5px; 
  margin: 30px 0px;
}

.frise i {
  font-size: 70px;
  color: var(--color-secondary);
}

.histoire button {
  border-radius: 40px;
  padding: 30px;
  font-size: x-large;
}

.haut{
  margin-right: 80px;
  display: flex;
  justify-content: space-between
}

.bas{
  display: flex;
  justify-content: space-between;
  margin:0px 250px 0px 200px ;

}

.histoire h1{
  margin-bottom: 80px;
}

/*rectangle qui s'affiche*/
.info-box {
  display: none;
  background-color: var(--color-bg2);
  color: var(--color-bg);
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
}

.info-box:target {
  display: block;
}

.info-box:target + .btn-primary {
  display: none;
}

.rectangle{
  display: flex;
}

.close {
  float: right;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

/*-----PAGE SECTEUR + ECOLOGIE-----*/

.alterne {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.texte_alterne{
  display: flex;
  flex-wrap: nowrap;
}

article img{
margin-bottom:30px;
margin-right: 30px;
margin-top: 10px;
}

/*-----PAGE CONTACT-----*/

.contact{
  display: grid;
  grid-template-columns: 600px 1fr ;
}

.contact section~section{
  margin-top: 20px;
}

.contact section~section {
  text-align: center;
}

.info{
  display: flex;
  gap: 30px;
}

/*formulaire*/
form *{
  font-size: large;
}

form{
  padding:0px 20px;
  margin-top: 30px;
  width: 500px;
  border: solid var(--color-secondary) 2px;
}

form:nth-child(2){
  text-align: center;
}

input{
  margin-bottom: 10px;
}

textarea{
  margin-bottom: 20px;
}

fieldset{
  padding: 0px;
  margin-bottom: 20px;
  border: 0px;
}

legend{
  text-align: center;
 font-style: italic;
 margin-bottom: 20px;
}

/*étoile*/
.rating {
  direction: rtl;
  text-align: center;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 30px;
  cursor: pointer;
  color: gray;
}

.rating input:checked ~ label {
  color: var(--color-secondary)
}

/*video*/
iframe{
  margin-top: 5px;
  margin-bottom: 30px;
  border: 4px solid var(--color-secondary) ;
}

/*logo*/
.logo {
  width: 50px;
  height: 50px;
  margin: 20px 5px;
  vertical-align: middle;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.2);
}

/*-----MISSIONS ET OBJECTIFS-----*/

.mission article img{
  width: 70px;
  height: 70px;
  background-color:var(--color-bg2);
  padding: 10px;
  margin-right: 20px;
  border-radius: 20px;
}

.P_et_C{
  display: flex;
  justify-content: space-between;
}

.mission .texte_alterne img {
  margin-top: 40px;
  width:auto;
}

/*-----PAGE METIER-----*/

/* Page métier*/

.carditem{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.metier h1{
  text-align: center;
  margin-bottom: 30px;
}

.metier article{
  max-width: 200px;
  max-height: 600px;
  background-color:var(--color-bg3);
  border-radius: 8px ;
  border: solid 2px black;
  box-shadow: 0 10px 10px var(--color-bg2);
}

.metier article:hover{
  background-color: var(--color-bg2);
  color:var(--color-bg3);
} 

.metier p{
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.metier h2{
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: large;
  text-align: center;
}

.metier ul{
  margin: 20px 40px;
  font-weight: bold;
}

.metier img{
  padding: 0px;
  margin: 0px 25px ;
  height: 120px;
  border: solid var(--color-bg2);
}